.blog {
    display: grid;
    grid-template-columns: 66% 33%;
    background-color: #e3e3e3;
    padding: 25px 45px;
}

.blog-container {
    margin-right: 35px;
}

.post {
    background-color: white;
    padding: 35px;
    margin: 50px 0;
}

.post h3 {
    margin: 0;
    font-size: 34px;
    color: #3d3d3d;
}

.post-data {
    margin: 0 0 20px 0;
    color: #585858;
}

.post img {
    width: 800px;
    height: 400px;
    object-fit: cover;
}

.post a {
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 600;
    color: #1e1e1e;
}

.post a:hover {
    color: #585858;
}

.sidebar div {
    background-color: white;
    padding: 15px 35px;
    margin: 50px 0;
}