.blog {
    display: grid;
    grid-template-columns: 66% 33%;
    background-color: #e3e3e3;
    padding: 25px 45px;
}

.blog-container {
    margin-right: 35px;
}

.post {
    background-color: white;
    padding: 15px 35px;
    margin: 50px 0;
}

.sidebar div {
    background-color: white;
    padding: 15px 35px;
    margin: 50px 0;
}