.store {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    width: 75%;
    max-width: 900px;
    margin: 50px auto;
    background-color: #2196F3;
    padding: 10px;
}

.store-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.store-item:nth-of-type(1) {
    background: slategray;
    grid-row-start: 1;
    grid-row-end: 3;
    
}

@media (min-width: 40em) {
    .store {
        grid-template-columns: 1.5fr 1fr;
    }
}

.store-item img {
    width: 500px;
    height: 400px;
    object-fit: scale-down;
    border: 1px solid black;
}