* {
    font-family: 'Hanken Grotesk', sans-serif;
}

.result {
    width: 400px;
    border: 1px solid black;
    border-radius: 25px;
    color: #FDFDFF;
    background-color: #4B35F3;
    text-align: center;
}