* {
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
    
}

html, body {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    color: #323232;
}

header {
    margin-bottom: 50px;
}

.nav {
    border-bottom: 1px solid #C9C9C9;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: 1em;
    text-decoration: none;
    color: black;

}

.nav a:hover {
    background-color: #F3F3F3;
}

.nav a:active {
    background-color: #E9E9E9;
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
}

.main-nav a {
    color: #424242;
}

.main-title {
    text-align: center;
    font-size: 3em;
}

.featured h2, h3 {
    text-align: center;
}

.featured h2 {
    margin-bottom: 0;
}

.featured h3 {
    margin-top: 0;
    font-size: .9em;
    font-weight: 300;
}

/*
.banner p {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    color: white;
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('images/plant.jpg');
    background-size: cover;
    background-position: left center;
    font-size: 36px;
    font-weight: 600;
    padding: 100px 0;
}
*/

.banner {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    color: white;
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('images/plant.jpg');
    background-size: cover;
    background-position: left center;
    font-size: 15px;
    font-weight: 400;
    padding: 100px 0;
}

.banner a {
    color: white;
    text-decoration: none;
}

.featured-title a {
    text-decoration: none;
    color: white;
    font-size: 36px;
    font-weight: 600;
}

.featured-title a:hover {
    text-decoration: underline;
}